<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings file="Local.config">
		<add key="winchattyApiBase" value="https://winchatty.com/v2/"/>
		<add key="dbConnectionString" value="DATABASE"/>
		<add key="hostUri" value="http://localhost:8080"/>
		<add key="notificationSID" value="NOTIFICATIONSID"/>
		<add key="clientSecret" value="CLIENTSECRET"/>
	</appSettings>
</configuration>